huggingface_hub
gdown
tqdm
gradio==5.49.1
open3d==0.19.0
gsplat==1.5.3

diffusers==0.35.1
transformers==4.56.1
accelerate==1.11.0

imageio[ffmpeg]==2.37.0
omegaconf==2.3.0
scipy==1.16.3
av==15.1.0
ftfy==6.3.1

matplotlib==3.10.6
scikit-learn==1.7.2

opencv-python==4.11.0.86
numpy==1.26.4

